<!DOCTYPE HTML>
<html>
<head>
    <title>Rézozio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-social.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/pure-min.css"/>
    <link rel="stylesheet" href="css/grids-responsive-min.css"/>
    <link rel="stylesheet" href="css/blog.css"/>
</head>
<body>
  <div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
          <h1 class="brand-title"><a href="/">Rezozio</a></h1>
          <h2 class="brand-tagline">Un blog</h2>

          <nav class="nav">
              <ul class="nav-list">
                  <li class="nav-item">
                      <a class="pure-button" href="/">Retour à l'accueil</a>
                  </li>
                  <br />
                  <li class="nav-item">
                      <a class="pure-button" href="/login.html">Login</a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>

  <div class="content pure-u-1 pure-u-md-3-4">
      <div>

          <div class="posts">
              <h1 class="content-subhead">Inscription</h1>
              <div>

                <form action="inscription" method="POST">
			        <label for="login"> Login : </label> <input name="login" type="text" id="login"/> </br>
			        <label for="password"> Password : </label> <input name="password" type="text" id="password"/> </br>
			        <label for="email"> Adresse e-mail : </label> <input name="email" type="text" id="email"/> </br>
			        <label for="idFacebook"> Login Facebook : </label> <input name="idFacebook" type="text" id="idFacebook"/> </br>
			        <label for="idTwitter"> Login Twitter : </label> <input name="idTwitter" type="text" id="idTwitter"/> </br>
			        <label for="idLinkedin"> Login Linkedin : </label> <input name="idLinkedin" type="text" id="idLinkedin"/> </br>
			        <button type="submit" value="Submit" id="Submit" class="btn btn-­primary">Valider</button></br>
			    </form>
			    {{message}}

              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>
