<!DOCTYPE HTML>
<html>
<head>
    <title>Rézozio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-social.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/pure-min.css"/>
    <link rel="stylesheet" href="../css/grids-responsive-min.css"/>
    <link rel="stylesheet" href="../css/blog.css"/>
</head>
<body>
  <div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
          <h1 class="brand-title"><a href="#">Rezozio</a></h1>
          <h2 class="brand-tagline">Un blog</h2>

          <nav class="nav">
          	 <ul class="nav-list">
          		{{^connected}}             
                  <li class="nav-item">
                  		<a class="pure-button" href="/login.html">Login</a>
                  </li>
                  <br />
                  <li class="nav-item">
                  		<a class="pure-button" href="/inscription.html">S'inscrire</a>
                  </li>  
          		{{/connected}}
         		 {{#connected}}
                  <li class="nav-item">
                  		<a class="pure-button" href="/disconnection">Déconnection</a>
                  </li>
          		{{/connected}}
          		<br />
           		<li class="nav-item">
                      <a class="pure-button" href="/">Retour à l'accueil</a>
                 </li>
            </ul>
          </nav>
      </div>
  </div>

  <div class="content pure-u-1 pure-u-md-3-4">
          <div>

              <div class="posts">
                  <h1 class="content-subhead">Profil</h1>
                  <h1>{{login}}</h1>
                  <img class="avatar" src="../images/vador-avatar.png"/>

                  <form class="pure-form pure-form-aligned">
                      <fieldset>
                          <div class="pure-control-group">
                              <label>Username</label>
                              {{login}}
                          </div>

                          <div class="pure-control-group">
                              <label>Email</label>
                              {{email}}
                          </div>

                          <div class="pure-controls">
                              <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/{{idTwitter}}">
                                  <span class="fa fa-twitter"></span>
                              </a>
                          </div>
                      </fieldset>
                  </form>

              </div>

          </div>
      </div>


  <div class="content pure-u-1 pure-u-md-3-4">
      <div>
          <div class="posts">
              <h1 class="content-subhead">Derniers messages</h1>
              <div>

                {{#message}}
                  <section class="post">
                      <img class="post-avatar" alt="Yoda&#x27;s avatar" height="48" width="48" src="images/yoda-avatar.png"/>
                      <div class="post-description">
                          <p><a class="post-author" href="/profils/{{user}}.html">@{{user}}</a> :
                          {{texteMessage}}
                          </p>
                      </div>

                      <p class="post-meta">
                          By <a class="post-author" href="/profils/{{user}}.html">{{user}}</a>
                          under
                          {{#listHT}}
                          <a class="post-category post-category-js" href="/hashtags/{{texteHashtag}}.html">#{{texteHashtag}}</a>
                          {{/listHT}}
                      </p>
                  </section>
                {{/message}}

              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>
